<div id="craterModal">
    <div id="craterModal-content">
        <span id="closeCraterModal">&times;</span>
        <h2>All Impact Craters</h2>
        <input type="text" id="craterSearchInput" class="modal-search" placeholder="Search impact crater...">
        <div id="craterTableContainer">
            <div class="table-wrapper">
                <table id="fullCraterTable">
                    <thead>
                        <tr id="craterTableHeaders"></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <p>For details on the abbreviations used in this table, please visit <a href="https://impact-craters.com/" target="_blank">impact-craters.com</a>.</p>
        <p>Data source: <a href="https://doi.org/10.1111/maps.13657" target="_blank">Kenkmann 2021</a> via <a href="https://impact-craters.com/" target="_blank">Dr. Matthias Ebert</a>.</p>
    </div>
</div>
