<div id="infoModal">
    <div id="infoModal-content">
        <span id="closeInfoModal">&times;</span>
        <h2>🌟 Application Features</h2>
        <h3>Overview</h3>
        <p>Welcome to the <strong>Global Meteorite Specimens & Impact Craters Visualization</strong>. This interactive tool allows you to explore meteorite landings recorded by NASA and discover impact craters around the world - in both 2D and 3D!</p>
        <h3>Features:</h3>
        <ul>
            <li><strong>🔄 Navigation:</strong> Use mouse or touch controls to rotate, zoom, and pan around the globe.</li>
            <li><strong>🔍 Search:</strong> Fly to a specific location using the search bar in the Options menu.</li>
            <li><strong>⚙️ Filters:</strong> Adjust filters like year, mass, diameter, age, class, and target rock type in the Options menu to refine the displayed data.</li>
            <li><strong>👁️ Show/Hide Data:</strong> Toggle meteorites and impact craters visibility using the checkboxes in the Options menu.</li>
            <li><strong>🎨 Color Schemes:</strong> Customize color schemes for meteorites and impact craters in the Key menu.</li>
            <li><strong>📜 Legends:</strong> View legends for meteorite and crater color schemes in the Key menu.</li>
            <li><strong>🔗 Clustering:</strong> Enable or disable clustering of meteorite markers to manage display density.</li>
            <li><strong>🏆 Top Bars:</strong> Explore top meteorites and impact craters at the bottom of the screen.</li>
        </ul>
        <h3>Data Sources:</h3>
        <ul>
            <li>🌠 <a href="https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh" target="_blank">NASA Meteorite Landings Dataset</a></li>
            <li>💥 Impact Crater data from <a href="https://impact-craters.com/" target="_blank">Dr. Matthias Ebert</a></li>
        </ul>
    </div>
</div>
