<div id="keyMenu">
    <header>
        <h2>Key</h2>
        <button class="close-button" id="closeKeyMenu">&times;</button>
    </header>
    <div>
        <label for="meteoriteColorScheme"><strong>Meteorite Color Scheme:</strong></label>
        <select id="meteoriteColorScheme"></select>
    </div>
    <div class="legend-section" id="meteoriteLegend"></div>
    <div>
        <label for="craterColorScheme"><strong>Crater Color Scheme:</strong></label>
        <select id="craterColorScheme"></select>
    </div>
    <div class="legend-section" id="craterLegend"></div>
    <div>
        <button id="resetColorSchemes">Reset Color Schemes</button>
    </div>
</div>
